:host {
  display: block;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 112px;
  background-color: var(--color-fondo-base);
  border-radius: 16px 16px 0 0;
  overflow: hidden;

  &__logo {
    height: 100%;

    img {
      height: 100%;
      object-fit: none;
      object-position: left top;
      display: block;
    }
  }
}
