@use 'styles/typography' as typo;

:host {
  display: block;
  width: 100%;
}

.registro {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 112px);
  overflow: hidden;
  background-color: var(--color-fondo-claro);

  &__content {
    position: relative;
    z-index: 3;
    max-width: 660px;
    margin: 0 auto;
    padding: 60px 28px 80px;
  }

  &__title {
    @include typo.pantalla-grande;
    color: var(--color-textos-base);
    margin-bottom: 40px;
    white-space: nowrap;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__actions {
    display: flex;
    gap: 80px;
    margin-top: 40px;
    justify-content: center;
  }
}
