:root {
  // Primario
  --color-primario-claro: #64A2C9;
  --color-primario-base: #3A7CA5;
  --color-primario-oscuro: #26526D;

  // Secundario
  --color-secundario-claro: #9EC2D2;
  --color-secundario-base: #6BA2BA;
  --color-secundario-oscuro: #447A92;

  // Acento
  --color-acento-claro: #88D8D5;
  --color-acento-base: #4EC5C1;
  --color-acento-oscuro: #319692;

  // Fondo
  --color-fondo-claro: #FFFFFF;
  --color-fondo-base: #F4F7FA;
  --color-fondo-oscuro: #C0D1E2;

  // Textos
  --color-textos-claro: #4E6774;
  --color-textos-base: #2F3E46;
  --color-textos-oscuro: #101618;

  // Exito
  --color-exito-claro: #7FC782;
  --color-exito-base: #4CAF50;
  --color-exito-oscuro: #357937;

  // Error
  --color-error-claro: #E7908E;
  --color-error-base: #D9534F;
  --color-error-oscuro: #B42B27;

  // Fuentes
  --font-primary: 'Nunito', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}
