<div class="dialog-overlay" (click)="onCancel()">
  <div class="dialog" (click)="$event.stopPropagation()">
    <div class="dialog__content">
      <h3 class="dialog__title">{{ title() }}</h3>
      <p class="dialog__message">{{ message() }}</p>
    </div>
    <div class="dialog__actions">
      @if (cancelLabel()) {
        <button class="dialog__btn dialog__btn--cancel" (click)="onCancel()">
          {{ cancelLabel() }}
        </button>
      }
      <button class="dialog__btn dialog__btn--confirm" (click)="onConfirm()">
        {{ confirmLabel() }}
      </button>
    </div>
  </div>
</div>
