<nav class="navbar-auth">
  <div class="navbar-auth__logo">
    <img src="assets/images/pattern-bg-54c89a.png" alt="Logo" class="navbar-auth__logo-img" />
  </div>
  <div class="navbar-auth__user">
    <span class="navbar-auth__name">{{ userName() }}</span>
    <span class="navbar-auth__relation">{{ userRelation() }}</span>
  </div>
  <div class="navbar-auth__tabs">
    @for (tab of tabs(); track tab; let i = $index) {
      <button
        class="navbar-auth__tab"
        [class.navbar-auth__tab--active]="i === activeTab()"
        (click)="onTabClick(i)"
      >
        {{ tab }}
      </button>
    }
  </div>
</nav>
